#ratings{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid darkred;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    font-size: 3rem;
}

.empty::before{
    content: '☆';
    cursor: pointer;
}

.filled::before{
    content: '★';
    cursor: pointer;
}

/* .empty img{
    width: 1rem;
    display: none;
}
.filled img{
    width: 1rem;
    display: none;
} */